<h5>
  *ngIf<br>
  A diretiva *ngIf é recomendada para árvores de elementos grandes
</h5>

<div>
  Lista de cursos aqui
</div>


<br>

<div *ngIf="mostrarCursos">
  <li>
    {{cursos}}
  </li>
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem exibidos
</div>

<br>
<button (click)="onExibirCursos()">
  Mostrar ou esconder cursos
</button>

<h4>Hidden como Alternativa<br>
Hidden é recomendado para árvores de elementos pequenas</h4>

<div [hidden]="!mostrarCursos">
  <li>
    {{cursos}}
  </li>
</div>

<div [hidden]="mostrarCursos">
  Não existem cursos para serem exibidos
</div><br>

----------------------------------------------- <br>

<h2>Removendo o * e usando template 
  (O que rola por debaixo dos panos no Angular?!)
</h2>

<!-- <div *ngIf="mostrarCursos">
  
</div>

<template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui</div>
</template>

<div template="ngIf mostrarCursos">

</div> -->