<section class="property-binding">

    <article>
        <h3>String Interpolation - Interpolação de String</h3>
        <h3>String renderizada via interpolação: {{ url }}</h3>
        <h3>Resultado de 1 + 1: {{ 1+1 }}</h3>
        <h3>R. de 1+1 não é: {{1+1 + getValor()}}</h3>
        <h3>Curso de Angular e se gosto do curso: {{cursoAngular && getCurtirCurso()}}</h3>
    </article>

    <article>
        <h3>Interpolação & Property Binding</h3>
        <img src="{{urlImage}}"><!-- Interpolação -->
        <img [src]="urlImage"><!-- Property Binding -->
        <img bind-src="urlImage">
        <!-- Quando não existe uma propriedade no elemento, 
        usa-se [attr.colspan] -->
    </article>

    <article>
        <h3>Class & Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}">Texto Colorido conforme valor do combobox</div>
            <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>
            <div class="alert" role="alert"
            [class.alert-info]="classe.value == 'alert-info'">
                Info
            </div>
            <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">
                Alerta
            </div>
            <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
            </div>

            <div class="alert alert-danger" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto só aparece em caso de erro.
            </div>


        </div>
    </article>

</section>