<section class="property-binding">

  <!-- <article>
        <h3>String Interpolation - Interpolação de String</h3>
        <h3>String renderizada via interpolação: {{ url }}</h3>
        <h3>Resultado de 1 + 1: {{ 1+1 }}</h3>
        <h3>R. de 1+1 não é: {{1+1 + getValor()}}</h3>
        <h3>Curso de Angular e se gosto do curso: {{cursoAngular && getCurtirCurso()}}</h3>
    </article>

    <article>
        <h3>Interpolação & Property Binding</h3>
        <img src="{{urlImage}}">
        <img [src]="urlImage">
        <img bind-src="urlImage">
    </article> -->

  <!-- <article>
        <h3>Class & Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}">Texto Colorido conforme valor do combobox</div>
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
                Info
            </div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
                Alerta
            </div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto só aparece em caso de erro.
            </div>

        </div>
    </article> -->

  <!-- <section class="event-binding">

		<article>
			<h1>Event Binding</h1>

			<button class="btn btn-primary" (click)="onMouseClick()">Clique aqui</button>
			<br><br>
			<input type="text" 
			(keyup)="onKeyUp($event)"
			(keyup.enter)="salvarValor(campoInput.value)"
            (blur)="salvarValor(campoInput.value)"
            #campoInput
            ><br>

			<span>
                Valor Atual: {{ valorAtual }}<br>
                Valor Salvo: {{ valorSalvo }}
			</span>

            <br><br>
            <span
            (mouseover)="onMouseOverOut()"
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver"
            >Passe o mouse sobre mim</span>


		</article>

	</section> -->

  <!-- <section class="two-way-binding">
    <article>
      <h3>Two-way data binding</h3>
      <div>

        <input 
        type="text" 
        [value]="nome" 
        (input)="nome = evento.value"
        #evento
        />

        <input 
        type="text" 
        [ngModel]="nome" 
        (ngModelChange)="nome = evento.value"
        #evento
        />

        <input type="text"
        [(ngModel)]="nome"
        />

        <input type="text"
        bindon-ngModel="nome"
        />

        <p>Você digitou: {{nome}}</p>

      </div>

      <div>

        Meu nome é {{ pessoa.nome }} 
        e minha idade é {{ pessoa.idade }}<br><br>

        <input type="text"
        [(ngModel)]="pessoa.nome"
        />
        <input type="text"
        [(ngModel)]="pessoa.idade"
        />
      </div>
    </article>
  </section>

   -->
</section>

<section class="input-output-properties">

  <article>

    <h3>Input & Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"
    [aluno]="nomeDoAluno"
    [animal]="nomeDoAnimal"
    [pais]="nomeDoPais"
    
    ></app-curso>

    <contador [valor]='valorInicial'
    (mudouValor)="onMudouValor($event)"
    ></contador>
    <!-- mudouValor seria um evento customizado -->

  </article>

</section>